#app {
  display: flex;
}
#sidebar {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 5px;
}
#examples {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  height: 100vh;
}
.component-example {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
}
.ari-ui-btn {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  height: 30px;
  border-radius: 3px;
  outline: none;
  padding: 4px 10px;
  cursor: pointer;
  transition: 0.3s;
}
.ari-ui-btn:hover {
  box-shadow: 0px 0px 3px 1px #000075;
}
.ari-ui-btn:active {
  animation-name: button-clicked;
  animation-duration: 0.3s;
}
.ari-ui-btn-default {
  background-color: white;
  color: #000075;
}
.ari-ui-btn-primary {
  background-color: #000075;
  color: #b0d8fd;
}
.ari-ui-btn-danger {
  background-color: #bf0000;
  color: #b0d8fd;
}
.ari-ui-btn-disabled {
  background-color: #a2a2a2;
  color: #e4e4e4;
  cursor: not-allowed;
}
.ari-ui-btn-disabled:hover {
  box-shadow: none;
}
.ari-ui-btn-rounded-edge {
  border-radius: calc(30px / 2);
}
@keyframes button-clicked {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.calendar-container {
  display: flex;
  flex-direction: column;
  background-color: #000075;
  color: #b0d8fd;
  border-radius: 3px;
  padding: 5px;
}
.calendar-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
.calendar-navigation-arrow {
  cursor: pointer;
  transition: 0.3s;
}
.calendar-navigation-arrow:hover {
  color: #a2a2a2;
}
.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, minmax(40px, 5fr));
  justify-items: center;
}
.calendar-cell-container {
  width: 100%;
  text-align: right;
  border: 1px solid #a2a2a2;
  height: 60px;
  background-color: white;
  color: #000075;
}
.calendar-cell-active {
  transition: 0.3s;
  cursor: pointer;
}
.calendar-cell-active:hover {
  background-color: #b0d8fd;
}
.calendar-cell-selected {
  background: #b0d8fd;
}
.calendar-date-cell {
  margin-right: 5px;
}
.calendar-date-cell-inactive {
  color: #a2a2a2;
}
.ari-ui-card {
  min-width: 150px;
  height: fit-content;
}
.ari-ui-card-bordered {
  box-shadow: 0px 0px 1px 1px #a2a2a2;
}
.ari-ui-small-padding {
  padding: 5px;
}
.ari-ui-divider {
  background-color: #a2a2a2;
}
.ari-ui-divider-vertical {
  width: 1px;
  height: 100%;
}
.ari-ui-divider-horizontal {
  width: 100%;
  height: 1px;
}
.ari-ui-form {
  display: flex;
}
.ari-ui-form-rows {
  flex-direction: column;
}
.ari-ui-form-row {
  display: flex;
  flex-wrap: wrap;
}
.ari-ui-form-columns {
  flex-wrap: wrap;
}
.ari-ui-form-column {
  margin-right: 16px;
}
.ari-ui-input-container {
  display: flex;
  flex-grow: 1;
  margin-bottom: 16px;
  height: 32px;
  position: relative;
}
.ari-ui-input {
  flex-grow: 1;
  border-radius: 15px;
  border: 1px solid #000075;
  font-size: 14px;
  padding-left: 12px;
  transition: 0.3s;
}
.ari-ui-input:focus {
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px 1px #000075;
}
.ari-ui-input-field-error {
  border: 1px solid #bf0000;
}
.ari-ui-input-error {
  position: absolute;
  margin: 0;
  top: 32px;
  padding-left: 12px;
  width: 100%;
  font-size: 10px;
  color: #bf0000;
  z-index: 5;
}
.modal-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.modal-overlay {
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
  background: rgba(80, 80, 80, 0.4);
}
.modal-dialog {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2000;
  width: 80vw;
  height: 50vh;
  background: white;
  box-shadow: 0px 0px 5px 1px #6b4e42;
  border-radius: 10px;
  animation-name: modal-appear;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
}
.modal-title {
  font-size: 24px;
}
.modal-x {
  transition: 0.3s;
  color: #b1acac;
}
.modal-x:hover {
  background-color: #a2a2a2;
  border-radius: 10px;
}
.modal-content {
  padding: 10px 20px 10px 20px;
  flex: 1;
}
.modal-footer {
  padding: 10px 20px 10px 20px;
}
@keyframes modal-appear {
  0% {
    transform: translateY(-50vh);
  }
  40% {
    transform: translateY(10vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.padded-content {
  padding: 10px 20px 10px 20px;
}
.flow-right {
  display: flex;
  justify-content: flex-end;
}
