@import './App/index.less';
@import './lib/Button/Button.less';
@import './lib/Calendar/Calendar.less';
@import './lib/Card/Card.less';
@import './lib/Divider/Divider.less';
@import './lib/Form/Form.less';
@import './lib/Input/Input.less';
@import './lib/Modal/Modal.less';
@import './lib/Select/Select.less';
@import './lib/TextArea/TextArea.less';
@import './hocs/index.less';
@import './mixins.less';

@primary-color: #000075;
@secondary-color: #a2a2a2;
@tertiary-color: #b0d8fd;
@error-color: #bf0000;
@disabled-text-color: #e4e4e4;
@text-box-padding: 12px;

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.padded-content {
  padding: 10px 20px 10px 20px;
}

.flow-right {
  display: flex;
  justify-content: flex-end;
}

.text-box {
  border: 1px solid @primary-color;
  font-size: 14px;
  padding-left: @text-box-padding;
  transition: 0.3s;
}

.text-box-focused {
  outline: none;
  border: none;
  .box-shadow()
}

.slide-down {
  animation-name: slide-down;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes slide-down {
  from { transform: translateY(-32px); opacity: 0 };
  to { transform: translateY(0px); opacity: 1 };
}