#app {
  display: flex;
}
#sidebar {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 5px;
}
#examples {
  display: flex;
  flex-wrap: wrap;
}
.component-example {
  margin: 5px;
}
.calendar-container {
  display: flex;
  flex-direction: column;
}
.calendar-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  justify-items: center;
}
.calendar-cell-container {
  width: 100%;
  text-align: center;
}
.calendar-date-cell-inactive {
  color: #a2a2a2;
}
.ari-ui-card {
  min-width: 150px;
  height: fit-content;
}
.ari-ui-card-bordered {
  box-shadow: 0px 0px 1px 1px #a2a2a2;
}
.ari-ui-small-padding {
  padding: 5px;
}
.ari-ui-divider {
  background-color: #a2a2a2;
}
.ari-ui-divider-vertical {
  width: 1px;
  height: 100%;
}
.ari-ui-divider-horizontal {
  width: 100%;
  height: 1px;
}
.ari-ui-input-container {
  display: flex;
  flex-grow: 1;
  margin-bottom: 16px;
  height: 32px;
  position: relative;
}
.ari-ui-input {
  flex-grow: 1;
  border-radius: 15px;
  border: 1px solid #000075;
  font-size: 14px;
  padding-left: 12px;
  transition: 0.3s;
}
.ari-ui-input:focus {
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px 1px #000075;
}
.ari-ui-input-field-error {
  border: 1px solid #bf0000;
}
.ari-ui-input-error {
  position: absolute;
  margin: 0;
  top: 32px;
  padding-left: 12px;
  width: 100%;
  font-size: 10px;
  color: #bf0000;
  z-index: 5;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
